Webservice_DohomeApplication/Connected Services/WebLogIn/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="tns:Login" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Login">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:ResLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResLogin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Authenticated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Policy" type="tns:Policy" />
          <s:element minOccurs="0" maxOccurs="1" name="Employee" type="tns:Employee" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Policy">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="PolicyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ProgramId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ProgramName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DivisionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Division" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonnelAreaId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonnelArea" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Token" type="tns:Token" />
      <s:complexType name="Token">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ChangePassword" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangePassword">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfirmPassword" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="tns:ResChangePassword" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResChangePassword">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginToken">
    <wsdl:part name="Token" element="tns:Token" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login Service</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change Password Service</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationSoap" type="tns:AuthenticationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LoginToken" part="Token" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationSoap12" type="tns:AuthenticationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LoginToken" part="Token" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="AuthenticationSoap" binding="tns:AuthenticationSoap">
      <soap:address location="http://permission.dohome.co.th:8061/WebServices/Authentication.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationSoap12" binding="tns:AuthenticationSoap12">
      <soap12:address location="http://permission.dohome.co.th:8061/WebServices/Authentication.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>